<div class="row">
    <div class="large-12 columns">
        <img src="images/courseLogo.png">
        <hr>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        {{outlet "summary"}}
        <hr>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        {{outlet "order"}}
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        {{outlet "depth"}}
    </div>
</div>

<footer class="row">
    <div class="large-12 columns">
        <hr/>
        <div class="row">
            <div class="large-6 columns">
                <p>© Copyright Dr. Abdelkader Ouda.</p>
            </div>
        </div>
    </div>
</footer>







