<div class="large-4 columns">
    {{outlet "marketByOrder"}}
</div>
<div class="large-6 columns">
    {{outlet "marketByPrice"}}
</div>
<div class="large-2 columns">
    {{outlet "symbol"}}
</div>

